.btn {
    background: transparent !important;
    color: #1b1e27 !important;
    outline: 0 !important;
    border: 0 !important;
    &:hover {
        background: #f8f9fc !important;
        color: #1b1e27 !important;
        border: 0 !important;
        outline: 0 !important;
    }
    &:focus {
        outline: 0 !important;
    }
}
.btnBlack {
    background: transparent !important;
    color: #dddde5;
    outline: 0 !important;
    border: 0 !important;
    &:hover {
        background: #252631 !important;
        color: #fff !important;
        border: 0 !important;
        outline: 0 !important;
    }
    &:focus {
        outline: 0 !important;
    }
}
.active {
    background: #1b1e27 !important;
    color: #fff !important;
    border: 0 !important;
    outline: 0 !important;
    &:hover {
        background: #1b1e27 !important;
        color: #fff !important;
        border: 0 !important;
        outline: 0 !important;
    }
}
.activeBlack {
    background: #3f4055 !important;
    color: #dddde5 !important;
    border: 0 !important;
    outline: 0 !important;
    &:hover {
        background: #3f4055 !important;
        color: #dddde5 !important;
        border: 0 !important;
        outline: 0 !important;
    }
}
